
/******* GENERAL LAYOUT *******/
	
/* The following color changes set the navigation bar to match the color on the Lieberman Technologies website. */
nav.top-bar, div.contain-to-grid, a.navlink {
	background-color: #0072BB !important; }

/* Custom password box that is slightly smaller than the default password textbox. */
input[type=password].smallpass {
	width: 150px;
	height: 25px;
	font-family: sans-serif;
	font-size: 11pt;
	padding: 1px;
	border: solid gray 1pt;
	vertical-align: center; }

	
	
	
/******* TEXTBOXES *******/
input[type=textbox].full-width { /* Causes the textbox to consume it's parent container. */
	width: 100%;
	padding: 0 0 0 2px;
	margin: 0 0 0 0; }

	
/******* DIVS *******/
/* Custom div used for scrolling cells in the cashbook. */
div.scrollable {
	width: 100%;
    height: 36px;
    padding: 0;
	text-align: center;
	vertical-align: middle;
	overflow: auto; }

/* Inline div that consumes half the page width, allowing two columns on the page. */
div.col-50 {
	width: 50%;
	display: inline;
	padding: 10px 15px 10px 15px; }
	
/* Custom div used for the header content div used in the body of each page. This usualy contains page title appearing immediately under the header. */
div.body-wrapper {
	height:100%;
	min-height:500px;
	padding-top:50px; }
	


/******* SELECT TAGS *******/
select.ReceiptTypeEntry { /* Overwrite the margin value for the select element for use with the receipt type dropdown */
	margin: 0 0 0 0; }

select.DisburseTo { /* Change a couple of style options for use with the disburse payment select box in the cashbook. */
	margin: 0 0 0 0;
	width: 100%; }

select.full-width { /* Causes the select box to consume it's parent container. */
	width: 100%;
	padding: 0 0 0 2px;
	margin: 0 0 0 0; }
	
	
	
	
/******* BUTTONS *******/

/* Generic button class used on a few pages. */
button.generic {
	background-color: #d9d9d9;
	padding: 2px 2px 2px 2px;
	margin: 0 0 0 2px; }
button.generic:hover[disabled] {
	background-color: #d9d9d9 !important; }
	
/* Customized buttons for the cashbook page. */
/* Buttons in the receipt section that disburse payments that have not yet been disbursed. */
button.cashbook {
  padding: 0 0 0 0;
  width: 100%;
  height: 100%;
  font-size: 0.825rem;
  background-color: #99ff99;
  border: 0; }
  
/* Buttons in the receipt section that disburse payments. These yellow ones have been partially disbursed. */
button.cashpart {
  padding: 0 0 0 0;
  width: 100%;
  height: 100%;
  font-size: 0.825rem;
  background-color: yellow;
  border: 0; }

/* Buttons in the disbursement section that show consolidated disbursement info in the Compact view mode. */
button.Disbbook {
  padding: 0 0 0 0;
  width: 100%;
  height: 100%;
  font-size: 0.825rem;
  background-color: orange;
  border: 0; }

/* Settings for the buttons used to switch between view modes. */
button.ViewInactive {
  padding: 0 0 0 0;
  width: 100%;
  height: 100%;
  font-size: 0.875rem;
  background-color: #80ccff;
  border: 0; }

/* Buttons used to switch between Receipt/Disbursement sections on the Singular view mode. */
button.DisbSect {
  padding: 0 0 0 0;
  width: 100%;
  height: 100%;
  font-size: 0.875rem;
  background-color: orange;
  border: 0; }

button.RecSect {
  padding: 0 0 0 0;
  width: 100%;
  height: 100%;
  font-size: 0.875rem;
  background-color: green;
  border: 0; }
  
button:hover {
	background-image: none !important;
	background-color: #008ae6 !important;
	color: white; }

	
/******* TABLES *******/

/* Custom table for the system menu. */
table.sysmenu {
  background: #fff7e6;
  margin-bottom: 1.25rem;
  border: none; }

  table.sysmenu tr.even, table.sysmenu tr.alt, table.sysmenu tr:nth-of-type(even) {
  background: #fff7e6; }
  
  table.sysmenu tr th,
  table.sysmenu tr td {
    padding: 0.5625rem 0.625rem;
    font-size: 0.875rem;
    color: #111111;
	text-align: center; }
  table.sysmenu tr th.DB { /* Used with the disbursement form in the cashbook. */
	  text-align: right; }
  table.sysmenu td.InfoText { /* Used in cells where an informational or warning message appears. */
	  color: #ff0000; }
	  
/* Custom table for the table that appears at the top of the cashbook, allowing users to switch views. */
table.ViewPanel {
  background: #fff7e6;
  margin-bottom: 0.75rem;
  border: outside;
  padding: 0 0 0 0; }
  
table.ViewPanel tr th,
table.ViewPanel tr td {
	padding: 3px 7px 3px 7px; }
  
/* Custom menu for the receipt entry page. */
table.ReceiptEntry {
  background: #f9f9f9;
  margin-bottom: 1.25rem;
  border: solid 1px #dddddd;
  table-layout: fixed;
  padding: 0px 5px 5px 0px; }

  table.ReceiptEntry tr th,
  table.ReceiptEntry tr td {
    padding: 0.5625rem 0.625rem;
    font-size: 0.875rem;
    color: #222222; }

  table.ReceiptEntry thead tr th,
  table.ReceiptEntry tfoot tr th,
  table.ReceiptEntry tbody tr td,
  table.ReceiptEntry tr td,
  table.ReceiptEntry tfoot tr td {
    display: table-cell;
    line-height: 1.125rem;
	padding: 5pt 1pt 1pt 5pt;
	vertical-align: text-bottom; }
	
  table.ReceiptEntry tr td.Approval {
	  font-size: 0.6rem;
	  height: 10px;
	  min-height: 10px;
	  max-height: 10px;
	  padding: 0px 0px 0px 20px;
	  vertical-align: top; }
  
  table.ReceiptEntry tr th.dropdown,
  table.ReceiptEntry tr td.dropdown {
	vertical-align: text-bottom;
	padding: 0px 0px 0px 5px; }
	
  table.ReceiptEntry tr th.RecColLabel,
  table.ReceiptEntry tr td.RecColLabel {
	text-align: right; }
	
  table.ReceiptEntry tr td.FooterRow {
	font-weight: normal;
	font-size: 0.875rem;
	background: #e6e6e6;
	display: table-cell;
    line-height: 1.2rem;
	padding: 3pt 3pt 3pt 3pt;
	vertical-align: middle;
	text-align: center; }

  table.ReceiptEntry tr td.button-container {
	text-align: center;
  }
  
/* Table classes for the Receipt Type Setup page. */
table.receipt-setup {
	display: inline-block;
	border: none;
	background-color: #fff7e6;
	border-collapse: collapse; }
table.receipt-setup tr.even, table.receipt-setup tr.alt, table.receipt-setup tr:nth-of-type(even) {
  background: #fff7e6; }
table.receipt-setup tr th,
table.receipt-setup tr th.TrustTitle {
	margin: 0 0 0 0;
	padding: 3px 2px 3px 2px;
	text-align: right; }
table.receipt-setup tr th.TrustTitle {
	border-bottom: solid black 1pt;
	text-align: center; }
table.receipt-setup tr th.type-dropdown {}
table.receipt-setup tr td,
table.receipt-setup tr td.right-border {
	text-align: left;
	margin: 0 0 0 0;
	padding: 3px 2px 3px 2px; }
table.receipt-setup tr td.right-border {
	border-right: solid black 1pt; }
table.receipt-setup tr td.left-border {
	border-left: solid black 1pt; }
table.receipt-setup tr td.help-text {}
  

/* Custom table for the cashbook report. */
table.cashbook {
  background: white;
  border-collapse: collapse;
  margin-bottom: 1.25rem;
  border: solid 1px #dddddd;
  padding-left: 3px;
  padding-right: 3px;
  width: 1920px; }
  /* line 51, /home/bitrock/projects/apachefriends-web/bower_components/foundation/scss/foundation/components/_tables.scss */
  table.cashbook thead,
  table.cashbook tfoot {
    background: whitesmoke;
    font-weight: bold; }
    /* line 57, /home/bitrock/projects/apachefriends-web/bower_components/foundation/scss/foundation/components/_tables.scss */
    table.cashbook thead tr th,
    table.cashbook thead tr td,
    table.cashbook tfoot tr th,
    table.cashbook tfoot tr td {
      padding: 0.5rem 0.625rem 0.625rem;
      font-size: 0.875rem;
      color: #222222;
      text-align: left; }
  /* line 68, /home/bitrock/projects/apachefriends-web/bower_components/foundation/scss/foundation/components/_tables.scss */
  table.cashbook tr th,
  table.cashbook tr td {
    padding: 2px 3px 3px 2px;
    font-size: 0.70rem;
    color: #222222;
	text-align: right; }
  /* line 76, /home/bitrock/projects/apachefriends-web/bower_components/foundation/scss/foundation/components/_tables.scss */
  table.cashbook tr.even, table.cashbook tr.alt, table.cashbook tr:nth-of-type(even) {
    background: #f9f9f9; }
  /* line 83, /home/bitrock/projects/apachefriends-web/bower_components/foundation/scss/foundation/components/_tables.scss */
  table.cashbook thead tr th,
  table.cashbook tfoot tr th,
  table.cashbook tbody tr td,
  table.cashbook tr td,
  table.cashbook tfoot tr td {
    display: table-cell;
    line-height: 1.125rem; }
	
  table.cashbook tr th.RT, /* Header cell for the receipt and database sections, colors below. */
  table.cashbook tr th.DB {
	font-size: 0.875rem;
	border: solid 1px;
	border-bottom: solid 3px;
	width: 70px;
	max-height: 80px;
	text-align: center; }

  table.cashbook tr td.RT, /* Data cell for the receipt and disbursement sections, colors below. */
  table.cashbook tr td.DB {
	font-size: 0.70rem;
	border: solid 1px;
	width: 70px;
	max-height: 85px;
	height: 36px;
	padding: 1px 1px 1px 1px;
	text-align: center; }
	
  table.cashbook tr th.RTS, /* Header cell for the receipt and database sections, colors below */
  table.cashbook tr th.DBS { /* This set is used for the Singular view mode of the cashbook. */
	padding: 0 0 0 0;
	font-size: 1rem;
	border: solid 1px;
	border-bottom: solid 3px;
	width: 100px;
	max-height: 80px;
	text-align: center; }

  table.cashbook tr td.RTS, /* Data cell for the receipt and disbursement sections, colors below */
  table.cashbook tr td.DBS { /* This set is used for the Singular view mode of the cashbook. */
    font-size: 0.875rem;
	border: solid 1px;
	width: 80px;
	max-height: 85px;
	height: 45px;
	padding: 1px 1px 1px 1px;
	text-align: center; }

  table.cashbook tr th.RT, /* Colors for the receipt and disbursement sections. */
  table.cashbook tr td.RT,
  table.cashbook tr th.RTS,
  table.cashbook tr td.RTS {
	border-color: green; }
  table.cashbook tr th.DB,
  table.cashbook tr td.DB,
  table.cashbook tr th.DBS,
  table.cashbook tr td.DBS {
	border-color: orange; }
	
  table.cashbook tr th.TX, /* Header cell for the taxpayer section columns, with one specialized for the "On What Account" column only */
  table.cashbook tr th.OWA,
  table.cashbook tr th.OWAS { /* Modification of the "On What Account" cell for the Singular view mode. */
	border-bottom: none;
	font-size: 0.875rem;
	color: red;
	width: 40px;
	text-align: right; }
  table.cashbook tr th.OWA {
	width: 65px; }
  table.cashbook tr th.OWAS { /* Modification of the "On What Account" cell for the Singular view mode. */
	font-size: 1rem;
	width: 120px; }
  table.cashbook tr td.TX, /* Data cell for the taxpayer section, including one used for "On What Account" column only */
  table.cashbook tr td.TXS,
  table.cashbook tr td.OWA,
  table.cashbook tr td.OWAS {
	width: 40px;
	max-height: 40px;
	padding: 1px 1px 1px 1px;
	text-align: center; }
  table.cashbook tr td.OWA {
	width: 70px; }
  table.cashbook tr th.TXS { /* Modification of the "Taxpayer" cell for the Singular view mode. */
	font-size: 0.875rem;
	width: 60px; }
  table.cashbook tr td.TXS { /* Modification of the "Taxpayer" cell for the Singular view mode. */
	font-size: 0.875rem;
	width: 60px; }
  table.cashbook tr td.OWAS { /* Modification of the "On What Account" cell for the Singular view mode. */
	font-size: 0.875rem;
	width: 120px; }
  table.cashbook tr td.smallgap { /* Used to create a small gap between receipt and disbursement sections. */
	  width: 2px;
	  border: none;
	  margin: 0 0 0 0;
	  padding: 0 0 0 0; }