	<section <?php echo "onLoad=\"DisplayValMsg('" . $model->ValMsg . "');\""; ?> >
		<div class="body-wrapper" id="wrapper">
			<form id="EntryForm" method="post" action="CashbookConfig.php">
				<div align="center">
					<div class="large-12 columns">
						<?php echo $model->DisplayConfigSelect(); ?>
					</div>
					<div>
						<table>
							<tr><th colspan="10">Receipt Section</th></tr>
							<?php echo $model->DisplayReceiptLabels(); ?>
							<?php echo $model->DisplayReceiptValues(); ?>
						</table>
					</div>
					<div>
						<table>
							<tr><th colspan="10">Disbursement Section</th></tr>
							<?php echo $model->DisplayDisburseLabels(); ?>
							<?php echo $model->DisplayDisburseValues(); ?>
						</table>
					</div>
					<input type="hidden" id="HiddenCommand" name="command" value="" disabled />
				</div>
				<div class="col-md-3">
					<table class="sysmenu">
						<tr><td>Configuration Name</td><td><input type="textbox" name="ConfigName" value="<?php if (!empty($model->SelectedConfig)) { echo $model->SelectedConfig; } ?>" /></td></tr>
						<tr><td><input type="submit" name="command" value="Save Changes" /></td></tr>
					</table>
				</div>
			</form>
		</div>
	</section>
