	<section <?php echo "onLoad=\"DisplayValMsg('" . $model->ValMsg . "');\""; ?> >
		<form id="EntryForm" method="post" action="ReceiptType.php">
			<div class="body-wrapper" id="wrapper">
				<div align="center">
					<h3><?php echo $TPL->PageTitle; ?></h3>
					<table class="receipt-setup"><tr><td><select name="TypeID" onchange="ReloadForm();"><option value="0">Create New...</option><?php echo $model->GetReceiptTypeOptionTags(true); ?></select></td></tr></table>
				</div>
				<div align="center">
					<div class="col-75">
						<table class="receipt-setup">
							<tr><th>Receipt Type Name:</th><td><input type="textbox" class="full-width" name="TypeName" <?php echo "value='".$model->LookupValue('TypeName')."'"; ?> /></td><td class="help-text">*</td></tr>
							<tr><th>Fee Type 1:</th><td><select name="FeeType1" class="full-width"><option value='0'>None</option><?php echo $model->GetFeeTypeOptionTags($model->LookupValue('1', 'Fee')); ?></td><td class="help-text">*</td>
							<th>Fee Type 2:</th><td><select name="FeeType2" class="full-width"><option value='0'>None</option><?php echo $model->GetFeeTypeOptionTags($model->LookupValue('2', 'Fee')); ?></td><td class="help-text">*</td>
							<th>Fee Type 3:</th><td><select name="FeeType3" class="full-width"><option value='0'>None</option><?php echo $model->GetFeeTypeOptionTags($model->LookupValue('3', 'Fee')); ?></td><td class="help-text">*</td></tr>
							<tr><th>Fee Type 4:</th><td><select name="FeeType4" class="full-width"><option value='0'>None</option><?php echo $model->GetFeeTypeOptionTags($model->LookupValue('4', 'Fee')); ?></td><td class="help-text">*</td>
							<th>Fee Type 5:</th><td><select name="FeeType5" class="full-width"><option value='0'>None</option><?php echo $model->GetFeeTypeOptionTags($model->LookupValue('5', 'Fee')); ?></td><td class="help-text">*</td>
							<th>Fee Type 6:</th><td><select name="FeeType6" class="full-width"><option value='0'>None</option><?php echo $model->GetFeeTypeOptionTags($model->LookupValue('6', 'Fee')); ?></td><td class="help-text">*</td></tr>
							<tr><th>Fee Type 7:</th><td><select name="FeeType7" class="full-width"><option value='0'>None</option><?php echo $model->GetFeeTypeOptionTags($model->LookupValue('7', 'Fee')); ?></td><td class="help-text">*</td>
							<th>Fee Type 8:</th><td><select name="FeeType8" class="full-width"><option value='0'>None</option><?php echo $model->GetFeeTypeOptionTags($model->LookupValue('8', 'Fee')); ?></td><td class="help-text">*</td>
							<th>Fee Type 9:</th><td><select name="FeeType9" class="full-width"><option value='0'>None</option><?php echo $model->GetFeeTypeOptionTags($model->LookupValue('9', 'Fee')); ?></td><td class="help-text">*</td></tr>
						</table>
					</div>
					<div class="col-75">
						<table class="receipt-setup">
							<tr>
								<th colspan="2" class="TrustTitle"><input type="checkbox" name="OptionalUsed" <?php if ($model->IsOptionalTrustUsed('A')) { echo " checked "; } ?> />&nbsp; Use Optional Trust A</th>
								<th colspan="2" class="TrustTitle"><input type="checkbox" name="OptionalUsed" <?php if ($model->IsOptionalTrustUsed('B')) { echo " checked "; } ?> />&nbsp; Use Optional Trust B</th>
								<th colspan="2" class="TrustTitle"><input type="checkbox" name="OptionalUsed" <?php if ($model->IsOptionalTrustUsed('C')) { echo " checked "; } ?> />&nbsp; Use Optional Trust C</th>
								<th colspan="2" class="TrustTitle"><input type="checkbox" name="OptionalUsed" <?php if ($model->IsOptionalTrustUsed('D')) { echo " checked "; } ?> />&nbsp; Use Optional Trust D</th>
							</tr>
							<?php echo $model->DisplayTrustRows(); ?>
						</table>
					</div>
				</div>
				<div align="center">
					<button class="generic" type="button" id="SubmitButton" name="SubmitButton" value="0" onclick="CreateOrSave();"><?php echo (empty($model->SelectedReceipt)) ? "Create" : "Save"; ?></button>
					<button class="generic" type="button" id="DeleteButton" name="DeleteButton" value="0" onclick="DeleteReceiptType();" <?php if (empty($model->SelectedReceipt)) { echo "disabled"; } ?> >Delete</button>
				</div>
				<div>
					<input type="hidden" name="command" id="HiddenCommand" value="" />
				</div>
			</div>
		</form>
	</section>