	<section>
		<div class="body-wrapper" id="wrapper">
			<div class="row" align="center">
				<div class="large-12 columns">
					<h3>Cashbook</h3>
				</div>
			</div>
			<div class="row" align="center">
				<div class="large-12 columns">
					<form id="BookMenu" action="CashbookController.php" method="post">
						<input type="hidden" id="command" name="command" value="" />
						<div><?php $model->DisplayInput_MenuBookDropdown(); ?></div>
						<div><?php $model->DisplayInput_MenuDateDropdown(); ?></div>
					</form>
				</div>
			</div>
		</div>
	</section>