	<section>
		<div id="wrapper" style="height:100%; min-height:500px; padding-top:10px; width:100%;">
			<form id="CBform" action="CashbookController.php" method="post">
				<?php $model->DisplayInput_HiddenData(); ?>
				<!--<div class="row" align="center"><?php /*$model->DisplayViewMode();*/ ?> </div>-->
				<table class="cashbook">
					<tr><th colspan="27"></th></tr>
					<!-- Header row has three sections - taxpayer/receipt/disbursement - and three rows to facilitate the many columns for each section -->
					<tr> <!-- Header row 1 -->
						<?php $model->DisplaySectionHeader(); ?>
					</tr>
					<?php
						// Header row 2
						  // First part of header 2, receipt data headers.
						$model->DisplayReceiptHeader();
						
						  // Display receipt/disbursement section of header row 2. These are configurable by the users so we retrieve their settings from the database.
						$model->DisplayInput_ReceiptDisburesmentHeader();
						echo "</tr>";
						
						// Header row 3 (amount brought forward row)
						$model->Display_AmountBroughtForward();
						
						// Now display the report data.
						$model->DisplayInput_ReceiptDisbursementData();
					?>
				</table>
			</form>
		</div>
	</section>

