	<section>
		<div id="wrapper" style="height:100%; min-height:500px;">
			<div class="row" align="center">
				<form id="DisburseForm" action="CashbookController.php" method="post">
					<?php $model->DisplayInput_HiddenData(); ?>
					<table class="sysmenu">
						<tr><td></td><th colspan="2"><h3>Disburse Payment</h3></th><td></td></tr>
						<tr><?php $model->DisplayInput_InfoText(); ?></tr>
						<tr><?php $model->DisplayInput_DisburseTo(); ?></tr>
						<tr><?php $model->DisplayInput_DisburseAmount(); $model->DisplayInput_DisburseDate(); ?></tr>
						<tr><?php $model->DisplayInput_PayTo(); ?></tr>
						<tr><?php $model->DisplayInput_PayFor(); ?></tr>
						<tr><?php $model->DisplayInput_CauseNum(); $model->DisplayInput_TWNum(); ?></tr>
						<tr><td colspan="2"></td><td colspan="2"></td></tr>
						<tr><th class='DB'><input type='submit' name='command' value='Cancel' /></th><?php $model->DisplayInput_NextCheck();?><th class='DB'><input type='submit' name='command' value='Print' /></th></tr>
					</table>
				</form>
			</div>
		</div>
	</section>