	<section>
		<div id="wrapper" style="height:100%; min-height:500px; padding-top:10px; width:100%;">
			<div class="row" align="center">
				<div style="width:100%; margin-bottom: 2rem;">
					<?php $model->DisplayHeader(); ?>
				</div>
				<form id="Reviewform" action="CashbookController.php" method="post">
					<?php $model->DisplayHiddenData(); ?>
					<table>
						<?php $model->DisplayFeeTable(); ?>
					</table>
					<input type='submit' name='command' value='Back'></input>
				</form>
			</div>
		</div>
	</section>