	<section>
		<div class="body-wrapper" id="wrapper">
			<div class="row" align="center">
				<div class="large-12 columns">
					<h4><?php echo $TPL->PageTitle; ?></h4>
				</div>
			</div>
			<div class="row" align="center">
				<div class="large-12 columns">
					<form name="receiptentry" action="EnterReceiptController.php" method="post">
						<table class="ReceiptEntry">
							<tr> <!-- Top row contains receipt type dropdown -->
								<th class="RecColLabel">Receipt Type</th><td colspan="2"> <?php echo $model->DisplayInput_ReceiptType() ?></td>
								<td colspan="3"></td>
							</tr>
							<tr> <!-- Second row contains State Board approval -->
								<td class="Approval" colspan="6">Approved by State Board of Accounts for Demo County, 2016.</td>
							</tr>
							<tr> <!-- Third row contains section headers -->
								<th colspan="2">SHERIFF'S FEES DUE COUNTY</th>
								<th colspan="4">COUNTY SHERIFF'S OFFICIAL RECEIPT</th>
							</tr>
							<tr> <!-- Following rows contain entry fields -->
								<?php echo $model->DisplayInput(1); ?>
								<th colspan="4">Receipt Date: <?php echo date("m-d-Y"); ?></th>
							</tr>
							<tr>
								<?php echo $model->DisplayInput(2); ?>
								<td class="RecColLabel">Cause No. </td><td><?php echo $model->DisplayInput_CauseNum(); ?></td><td class="RecColLabel">Tax Warrant No. </td><td><?php echo $model->DisplayInput_TWNum(); ?></td>
							</tr>
							<tr>
								<?php echo $model->DisplayInput(3); ?>
								<td class="RecColLabel">Received Of</td><td colspan="2"><?php echo $model->DisplayInput_ReceivedOf(); ?></td><td></td>
							</tr>
							<tr>
								<?php echo $model->DisplayInput(4); ?>
								<td colspan="4"></td>
							</tr>
							<tr>
								<?php echo $model->DisplayInput(5); ?>
								<td colspan="4"></td>
							</tr>
							<tr>
								<?php echo $model->DisplayInput(6); ?>
								<td class="RecColLabel">For</td><td colspan="3"><?php echo $model->DisplayInput_ReceiptFor(); ?></td>
							</tr>
							<tr>
								<?php echo $model->DisplayInput(7); ?>
								<td colspan="4"></td>
							</tr>
							<tr>
								<?php echo $model->DisplayInput(8); ?>
								<td colspan="4"></td>
							</tr>
							<tr>
								<?php echo $model->DisplayInput(9); ?>
								<td class="RecColLabel">Payment Type</td><?php echo $model->DisplayInput_PaymentType(); ?><td></td>
							</tr>
							<tr>
								<?php echo $model->DisplayInput(10); ?>
								<td colspan="4"></td>
							</tr>
							<tr>
								<?php echo $model->DisplayInput(11); ?>
								<td colspan="4"></td>
							</tr>
							<tr>
								<?php echo $model->DisplayInput(12); ?>
								<td colspan="4"></td>
							</tr>
							<tr>
								<?php echo $model->DisplayInput(13); ?>
								<td style="vertical-align: bottom; text-align: right;">Notes: </td><td colspan="3"></td>
							</tr>
							<tr>
								<td style="text-align: right; vertical-align:top">Total</td><td style="vertical-align:top"><input type='textbox' name='TotalFees' id="TotalFees" value='' placeholder='Will be filled' readonly /></td>
								<td></td><td class="dropdown" colspan="3" rowspan="1"><?php echo $model->DisplayInput_Notes(); ?></td>
							</tr>
							<tr>
								<td class="FooterRow">Next Receipt #: <?php echo $model->NextReceipt; ?> <input type="submit" name="command" value="Refresh" /></td>
								<td class="FooterRow" colspan="4">Number of receipts to print: <input type="textbox" style="margin-right:4px;" /><input type="submit" name="command" value="Create and Print" /></td>
								<td class="FooterRow"><input type="submit" name="command" value="Back" /></td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</div>
	</section>
	<?php echo $model->LoadScripts(); ?>
