	<section>
		<div class="body-wrapper" id="wrapper">
			<div class="row" align="center">
				<div class="large-12 columns">
					<h4><?php echo $TPL->PageTitle; ?></h4>
				</div>
			</div>
			<div class="row" align="center">
				<div class="large-12 columns">
					<form action="VoidReceipt.php" method="post">
						<table class="ReceiptEntry">
							<tr><th>Enter receipt number to void:</th><td><input type="textbox" name="ReceiptNum" type="number" <?php echo "value='".$model->ReceiptNum."'"; ?> /><td></tr>
							<tr><td class="button-container"></td><td class="button-container"><input type="submit" name="command" value="Void" /></td></tr>
						</table>
					</form>
				</div>
			</div>
		</div>
	</section>
